<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.book.dao.BooksDao">
 
 	<insert id="insert">
 	INSERT INTO TBL_BOOKS (
		B_CODE, B_NAME, B_AUTHER, B_COMP, B_YEAR, B_IPRICE, B_RPRICE
	) VALUES (
		#{b_code}, #{b_name}, #{b_auther}, #{b_comp}, #{b_year}, #{b_iprice}, #{b_rprice}
	);

 	</insert>
 	
 	
 	<update id="update">
 	UPDATE tbl_books SET 
			b_code = #{b_code},
			b_name = #{b_name},
			b_auther = #{b_auther},
			b_comp = #{b_comp},
			b_year = #{b_year},
			b_iprice = #{b_iprice},
			b_rprice = #{b_rprice}
	WHERE b_code = #{b_code}
 	</update>
 	<delete id="delete"></delete>
 
 </mapper> 